<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>An amazing cat</title>
  </head>
  <body>
    <h1><%= @cat.name %></h1>
    <table border=2 >
      <tr>
        <th> Birth Date </th>
        <th> Age </th>
        <th> Sex </th>
        <th> Color </th>
      </tr>
      <tr>
        <td> <%= @cat.birth_date  %> </td>
        <td> <%= @cat.age  %> </td>
        <td> <%= @cat.sex  %> </td>
        <td> <%= @cat.color  %> </td>
      </tr>
    </table>
    <p>
      About me: <%= @cat.description %>
    </p>
    <table border=2 >
      <h2>Rental requests</h2>
      <tr>
        <th> Start date </th>
        <th> End date </th>
        <th> Status </th>
        <th> Approve/Deny </th>
      </tr>
    <% @cat.cat_rental_requests.order(:start_date).each do |request| %>
      <tr>
        <td> <%= request.start_date %> </td>
        <td> <%= request.end_date %> </td>
        <td> <%= request.status  %> </td>
        <td>
          <% if request.pending? %>
          <%= button_to 'Approve', approve_url(request), method: :patch %>
          <%= button_to 'Deny', deny_url(request), method: :patch %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <h3><%= link_to "index", cats_url %></h3>
    <h3><%= link_to "request new cat", new_cat_rental_request_url %></h3>
  </body>
</html>
